button.btn-light {
  padding: 0;
}
p.logout_dd {
  font-weight: 500;
  margin: 0;
}
p.fitr_by {
  font-size: 14px;
  padding: 4px 0 0 15px;
  font-weight: 500;
}
// ------------
.card_two {
  background: #fff;
  padding: 21px;
  border-radius: 19px;
  height: 174px;
  cursor: pointer;
}
.pro_bg {
  text-align: center;
  background: #229b9f;
  color: #fff;
  border-radius: 10px;
  padding: 12px 12px;
  height: 48px;
  width: 17%;
}
i.fa_fnt {
  font-size: 19px;
}
p.mastering_p {
  font-size: 14px;
  margin-left: 9px;
  font-weight: 500;
  color: #229b9f;
}
.pro-1 {
  height: 7px;
  margin: 7px 0 0 0;
  width: 74%;
}
span.two_hrs {
  font-size: 13px;
  padding: 0 5px 0 8px;
  border-right: 1px solid silver;
}
i.fa.fa-ellipsis-h {
  font-size: 23px;
  color: silver;
}
i.fa_hrt {
  font-size: 13px;
  padding: 3px 0 0 7px;
  color: #c0c0c0ab;
}
// ------------

.card_similar {
  background: #fff;
  padding: 21px;
  border-radius: 19px;
  height: 157px;
  cursor: pointer;
}
video.video_tag {
  width: 100%;
  border-radius: 16px;
}
