*{box-sizing: border-box;}




.content-table {position: absolute;
    background-color: #fff;
   
    box-shadow:0 0 10px 0 #000;
   border-radius: 15px; 
   left: 10vh;
   top: 5vh;
   width: 100%;}


   
   .content-table2 {position: absolute;
       background-color: #fff;
      
       box-shadow:0 0 10px 0 #000;
      border-radius: 15px; 
      left: 10vh;
      top: 100vh;
      width: 100%;}
   

.media{
    padding-left: 15px;
}
.media-body{
    margin-left: 10px;
   
}

.view{
    text-align: right;
    margin-right:5px;
}
.btn{
    padding: 10px 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#058B96;
    box-shadow:2px 0 5px 0 rgb(153, 153, 153);
    border-radius: 50px;
    margin-top: 30px;
    margin-right: 25px;
   
}

.btn:hover{
    background-color:#058B96;
    box-shadow:2px 0 5px 0 rgb(66, 64, 64);

}

.btn2{
    padding: 10px 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#058B96;
    box-shadow:2px 0 5px 0 rgb(153, 153, 153);
    border-radius: 50px;
    margin-top: 50px;
    margin-right: 25px;
   
   
}

.more{
    text-align: center;
    color: #058B96;
    padding: 10px;
}

/*---------------tabs-3-----------*/


 




.btn2{ padding: 5px 60px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#058B96;
  
    border-radius: 10px;
}


/*-----------Tab-4-----------*/

#col2{
    color: #058B96;
  }
  
  span{
      font-size: 14px;
      font-weight: bold;
  }

.description{
    padding: 20px;
  
}

.description{
    p{
        margin-top: 5px;
        margin-left: 10px;
    }
}

