<div class="container-fluid">
  <div class="row">
    <div class="col-md-10"> 
 <div class="content-table">
    <nav class="navbar pt-3">
      <div class="container-fluid">
        <a class="navbar-brand">People</a>
        <div class="d-flex">
          <p>368 Connection</p>
        </div>
      </div>
    </nav>
    <hr >
    <ul class="list-group list-group-flush list-unstyled">
      <li class="media">
        <img src="assets/images/Ellipse 1 (7).png" class="mr-3" alt="...">
       
        <div class="media-body">

          <h5>Dianne Russell</h5>                
         
          <p>Lawyer</p>
        </div>
        <ul>
         
          <li class="btn btn-primary">Contact</li>
        </ul>
       
     
      </li>
    
      <li class="media my-4">
        <img src="assets/images/Ellipse 1 (10).png" class="mr-3" alt="...">
        <div class="media-body">
          <h5>Savannah Nguyen</h5>
          <p>Lawyer </p>
        </div>
        <ul><li class="btn btn-primary">Contact</li></ul>
       </li>
      <li class="media">
        <img src="assets/images/Ellipse 1 (8).png" class="mr-3" alt="...">
       
        <div class="media-body">
          <h5>Courtney Henry</h5>
          
          <p>Lawyer</p>
        </div>
        <ul>
          <li class="btn btn-primary">Contact</li>
        </ul>
      </li>
      <li class="media my-4">
        <img src="assets/images/Ellipse 1 (9).png" class="mr-3" alt="...">
        <div class="media-body">
          <h5>Savannah Nguyen</h5>
          <p>Lawyer </p>
        </div>
        <ul><li class="btn btn-primary">Contact</li></ul>
       </li>
      
    </ul>
    <div class="more">
        <p>View (5) more</p>
   </div>
  </div>

</div>

</div>



<!-------------------------------------->
<div class="row">
    <div class="col-md-10"> 
 <div class="content-table2">
    <nav class="navbar pt-3">
        <div class="container-fluid">
          <a class="navbar-brand">Companies</a>
          <div class="d-flex">
            <p>02 Result</p>
          </div>
        </div>
      </nav>
      <hr>
    <ul class="list-group list-group-flush list-unstyled">
    
    <li class="media my-4">
     <img  src="assets/images/img1.png">
    
      <div class="media-body">
        <h5>PIF Capital Pte Ltd</h5>
        <h6>pifCapital.com </h6>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </p>
      </div>
      <ul>
        <li class="view"><a href="#">View more</a></li>
        <li class="btn2 btn-primary">Contact</li>
      </ul>
    </li>
    <li class="media">
      <img src="assets/images/Ellipse 1 (6).png"   class="mr-3" alt="...">
     
      <div class="media-body">
        <h5>Alibaba Group</h5>
        <h6>Alibabagroup.com</h6>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <ul>
        <li class="view"><a href="#">View more</a></li>
        <li class="btn2 btn-primary">Contact</li>
      </ul>
    
    </li>
    </ul>
    <div class="more">
        <p>View (5) more</p>
   </div>
  </div>
    
</div>

</div>
</div>


   
 

  
