p.profile_sm {
  font-size: 14px;
  margin: 8px 0 8px 0;
  font-weight: 500;
}
p.profile_sm span {
  color: #9a9898;
}
.bg_sl {
  background: #f4f4f4;
  padding: 10px 15px 4px 15px;
  border-radius: 21px;
}
