.bg-silver {
  background: #f9f9f9;
  text-align: center;
  padding: 18px 0;
  border-radius: 13px;
}
.bg-grenish {
  background: #28a0a4;
  text-align: center;
  padding: 18px 0;
  color: #fff;
  border-radius: 13px;
}
a.btn-done {
  background: #28a0a4;
  text-decoration: none;
  width: 100%;
  border-radius: 9px;
}
