<app-header></app-header>

<section id="dashboard-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="bg_col-1">
          <div class="bg_form">
            <h5>Customise Your Topics</h5>
            <div class="row mt-4">
              <div class="col-md-5">
                <div class="bg-silver">
                  <p>Road To IPO</p>
                </div>
              </div>
              <div class="col-md-7">
                <div class="bg-grenish">
                  <p>Entrepreneurship</p>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-5">
                <div class="bg-grenish">
                  <p>Capital Raising</p>
                </div>
              </div>
              <div class="col-md-7">
                <div class="bg-silver">
                  <p>Trade Finance</p>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-7">
                <div class="bg-grenish">
                  <p>Investing</p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="bg-silver">
                  <p>CrowdFunding</p>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-5">
                <div class="bg-silver">
                  <p>Business Law</p>
                </div>
              </div>
              <div class="col-md-7">
                <div class="bg-grenish">
                  <p>Merger & Acquisitions</p>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-12">
                <a href="#" class="btn btn-done">Done</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8"></div>
    </div>
  </div>
</section>
