img.logo_img {
  width: 417px;
}
li.nav_li {
  padding: 0 17px 0 9px;
}
a.nav_fnt {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  color: #1b1c1e !important;
}
a.btn_login {
  background: #28a0a4;
  color: #fff;
  border-radius: 40px;
  height: 40px;
  width: 89px;
}
nav.navbar_bg {
  background: #f5f5f5;
  padding: 0 32px 0 39px;
}
