<div class="container-fluid">
  <div class="row d-flex d-md-block flex-nowrap wrapper">
    <div
      class="
        col-md-3 col-lg-3 col-sm-6 col-12
        float-left
        col-1
        pl-0
        pr-0
        collapse
        width
        show
      "
      id="sidebar"
    >
      <div class="list-group border-0 card bg-faded text-center text-md-left">
        <div class="border-bottom">
          <img
            class="side-bar-logo text-center"
            src="../../../assets/images/logo-sidebar.png"
            alt=""
          />
        </div>

        <div
          id="side_bar"
          class="sidebar-bg text-center"
          [routerLink]="'/pages/profile'"
          routerLinkActive="router-link-active active"
        >
          <img
            class="profile-img"
            src="../../../assets/images/profile.png"
            alt=""
          />
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="name_pro">
                Jason Tan <br />
                PIF Capital Pte Ltd
              </p>
            </div>
          </div>
          <div class="row mt_top">
            <div class="col-md-4 col-lg-4 col-sm-4 col-4">
              <i class="fa fa_width fa-phone" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-4">
              <i class="fa fa_width fa-commenting-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-4">
              <i class="fa fa_width fa-map-marker" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <!-- <a
          href="#menu1"
          class="list-group-item d-inline-block collapsed bg_color"
          data-toggle="collapse"
          data-parent="#sidebar"
          aria-expanded="false"
          ><i class="fa fa-dashboard"></i>
          <span class="hidden-sm-down">DASHBOARD</span>
        </a>
        <div class="collapse" id="menu1">
          <a
            href="#menu1sub1"
            class="list-group-item"
            data-toggle="collapse"
            aria-expanded="false"
            >Subitem 1
          </a>
          <div class="collapse" id="menu1sub1">
            <a href="#" class="list-group-item" data-parent="#menu1sub1"
              >Subitem 1 a</a
            >
            <a href="#" class="list-group-item" data-parent="#menu1sub1"
              >Subitem 2 b</a
            >
            <a
              href="#menu1sub1sub1"
              class="list-group-item"
              data-toggle="collapse"
              aria-expanded="false"
              >Subitem 3 c
            </a>
            <div class="collapse" id="menu1sub1sub1">
              <a href="#" class="list-group-item" data-parent="#menu1sub1sub1"
                >Subitem 3 c.1</a
              >
              <a href="#" class="list-group-item" data-parent="#menu1sub1sub1"
                >Subitem 3 c.2</a
              >
            </div>
            <a href="#" class="list-group-item" data-parent="#menu1sub1"
              >Subitem 4 d</a
            >
            <a
              href="#menu1sub1sub2"
              class="list-group-item"
              data-toggle="collapse"
              aria-expanded="false"
              >Subitem 5 e
            </a>
            <div class="collapse" id="menu1sub1sub2">
              <a href="#" class="list-group-item" data-parent="#menu1sub1sub2"
                >Subitem 5 e.1</a
              >
              <a href="#" class="list-group-item" data-parent="#menu1sub1sub2"
                >Subitem 5 e.2</a
              >
            </div>
          </div>
          <a href="#" class="list-group-item" data-parent="#menu1">Subitem 2</a>
          <a href="#" class="list-group-item" data-parent="#menu1">Subitem 3</a>
        </div> -->
        <a
          [routerLink]="'/pages/home'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
          ><i class="fa fa_fa fa-tachometer pr-3"></i>
          <span class="hidden-sm-down dash_col">DASHBOARD</span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i>
        </a>
        <a
          [routerLink]="'/pages/my-course'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
        >
          <i class="fa fa_fa fa-sticky-note-o pr-3"></i>
          <span class="hidden-sm-down dash_col"> MY COURSES</span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i>
        </a>
        <a
          [routerLink]="'/pages/explore'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
          ><i class="fa fa_fa fa-archive pr-3"></i>
          <span class="hidden-sm-down dash_col"> EXPLORE </span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i
        ></a>
        <a
          [routerLink]="'/pages/board'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
          ><i class="fa fa_fa fa-plus-square-o pr-3"></i>
          <span class="hidden-sm-down dash_col"> BOARD </span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i
        ></a>
        <a
          [routerLink]="'/pages/setting'"
          routerLinkActive="router-link-active active"
          class="list-group-item d-inline-block collapsed bg_color"
          data-parent="#sidebar"
          ><i class="fa fa_fa fa-gear pr-3"></i>
          <span class="hidden-sm-down dash_col"> SETTINGS </span>
          <i class="fa fa_fa fa-caret-right text-white pl-5"></i
        ></a>
      </div>
    </div>
  </div>
</div>
