

<div class="container-fluid">
    <div class="tab-content">
    <div class="row">
        <div class="col-md-3">
            <div class="side-card">
                <div class="srch_bar ">
                 
               <div class="stylish-input-group">
                <a><img src="assets/images/Vector (15).png"> </a>
                 <input type="text" class="search-bar  "  placeholder="Search" >
                </div>
                <div class="box">
                  <a><img src="assets/images/Vector (16).png">  </a>
                </div>
            </div>

           <div class="inbox"> 
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/1chat.png">
                    </div>
                    <div class="col-md-9">
                        <h6>Darlene Robertson</h6>
                        <small>Amet minim mollit non deserunt ullamco</small>     
                    </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                        <img src="assets/images/2chat.png">
                    </div>
                    <div class="col-md-9">
                        <h6>Ronald Richards</h6>
                        <small>Amet minim mollit non deserunt ullamco</small>
                    </div>
                </div>
              <hr>
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/3chat.png">
                    </div>
                    <div class="col-md-9">
                        <h6>Ralph Edwards</h6>
                        <small>Amet minim mollit non deserunt ullamco</small>
                    </div>
                </div>
                <hr>
                  <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/4chat.png">
                    </div>
                    <div class="col-md-9">
                        <h6>Theresa Webb</h6>
                        <small>Amet minim mollit non deserunt ullamco</small>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/5chat.png">
                    </div>
                    <div class="col-md-9">
                        <h6>Dianne Russell</h6>
                        <small>Amet minim mollit non deserunt ullamco</small>  
                    </div>
                </div>
                <hr>
               
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/6chat.png">
                    </div>
                    <div class="col-md-9">
                        <h6>Guy Hawkins</h6>
                        <small>Amet minim mollit non deserunt ullamco</small>   
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/7chat.png">
                    </div>
                    <div class="col-md-9">
                        <h6>Esther Howard</h6>
                        <small>Amet minim mollit non deserunt ullamco</small> 
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/8chat.png">
                    </div>
                    <div class="col-md-9">
                        <h6>Brooklyn Simmons</h6>
                        <small>Amet minim mollit non deserunt ullamco</small>  
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!------------------out-and income msg----------------->
        <div class="col-md-6">
            <div class="tab-content2">
                <div class="type_top">
                  <!---------------------top srch box------------------>
                    <div class="input_msg_top">
                      <input type="text" class="write_top" placeholder="Yesterday" />
                      <div class="msg-top" type="button"><a class="mr-5"><img src="assets/images/Vector (13).png"></a>
                    <a ><img src="assets/images/Vector (14).png"></a></div>
                    </div>
                  </div> 
                  <div class="mesgs">
                    <div class="msg_history">
                      <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="assets/images/6chat.png" alt=""> </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit </p>
                            </div>
                        </div>
                      </div>
                      <div class="outgoing_msg">
                        <div class="sent_msg">
                          <p>
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit </p>
                         </div>
                      </div>
                      <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="assets/images/6chat.png" alt="sunil"> </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit 
                            </div>
                        </div>
                      </div>
                      
                     
                    </div>
                    <div class="type_msg">
                      <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" />
                        <a class="mr-5"><img src="assets/images/Vector (11).png"></a>
                        <a><img src="assets/images/Vector (10).png"></a>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
         
           
        </div>
        <!-----------------side-card----------->
        <div class="col-md-3"> 
            <div class="side-card2">
                <img src="assets/images/Ellipse 1.png">
                <h6>Alma lawson</h6>
                <small>Active yesterday</small>
                <div class="row p-3 ">
                  <div class="col-md-6 p-4 " id="line">
                    358<br>
                    Connection
                  </div>
                  <div class="col-md-6 p-4 " id="line2">
                    25<br>
                    Views</div>
                </div>
                <div class="media-icon">
               <!---  <div class="row">
                   <div class="col-md-2"><img src="assets/images/Group.png"></div>
                   <div class="col-md-10"><p>bdtech.com/jackson.graham</p></div>
                 </div>
                 <div class="row">
                  <div class="col-md-2"><img src="assets/images/link.png"></div>
                  <div class="col-md-10"><p>jackson.graham</p></div>
                </div>--->
                 
                  <ul>
                    <li><img src="assets/images/Group.png">bdtech.com/jackson.graham</li>
                    <li><img src="assets/images/Vector (12).png">jackson.graham</li>
                  </ul>
                </div>
        
              </div>

               

        </div>
    
    </div>
</div>
  </div>
  
  
          